<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Special Characters Reference</title>
    <link href="/assets/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script defer data-domain="symbolsguide.io" src="https://plausible.io/js/script.js"></script>
</head>
<body class="text-white transition-colors duration-200 bg-gradient-to-br from-purple-200 to-gray-100 dark:from-purple-900 dark:to-black">
    {{ content | safe }}
    <script src="/js/main.js"></script>
</body>
</html>
